<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>612562021338-nblm225uf0jlcstb4eq0ceabfn5d25ht.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.612562021338-nblm225uf0jlcstb4eq0ceabfn5d25ht</string>
	<key>API_KEY</key>
	<string>AIzaSyAI9jMZS5Poe6rGDXvEtu4QXZQl47n7pMQ</string>
	<key>GCM_SENDER_ID</key>
	<string>612562021338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ievent</string>
	<key>PROJECT_ID</key>
	<string>projeto-ievent</string>
	<key>STORAGE_BUCKET</key>
	<string>projeto-ievent.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:612562021338:ios:9e6821211527a94036aee3</string>
</dict>
</plist>